<p class="contact-heading">Contact me</p>
<form class="form-group">
    <div class=" form-container col-xs-12 col-md-8">

        <label class="input-label" for="name">name</label>
        <input class="contact-input" type="text" name="name" id="name" placeholder="What's your name?" required>

        <label class="input-label" for="email">email</label>
        <input class="contact-input" type="email" name="email" id="email" placeholder="Please enter your email" required>

        <div class="radio-container row">
            <div class="col-xs-12 col-md-5">

                <p class="radio-heading">Reason for contact:</p>
                <label [ngClass]="{active: radio === 'job'}" class="radio-btn">
                    <input class="radio-input" (click)="onRadio('job')" type="radio" name="options" id="option1" autocomplete="off">
                Job
                </label>
                <label [ngClass]="{active: radio === 'project'}" class="radio-btn">
                    <input class="radio-input" (click)="onRadio('project')" type="radio" name="options" id="option2" autocomplete="off" checked>
                    Project
                </label>
                <label [ngClass]="{active: radio === 'other'}" class="radio-btn">
                    <input class="radio-input" (click)="onRadio('other')" type="radio" name="options" id="option3" autocomplete="off">
                    Other
                </label>

            </div>

            <div class="col-xs-12 col-md-7 pop-col">

                <div class="pop-container">
                    <p *ngIf="radio === 'job'" class="pop-content">want to hire me for a full time position?</p>
                    <p *ngIf="radio === 'project'" class="pop-content">need help with a personal project?</p>
                    <p *ngIf="radio === 'other'" class="pop-content">please leave a description</p>
                </div>

            </div>
        </div>

    </div>
    <div class="col-md-4 col-xs-12">

        <label class="text-header" for="message">Brief message 
            <span *ngIf="radio === 'job'" class="optional-text">(optional)</span>
            <span *ngIf="radio === 'project'" class="optional-text">(optional)</span>
            <span *ngIf="radio === 'other'" class="required-text">(required)</span>
        </label>
        <textarea [required]="radio === 'other'"></textarea>
        <div class="send-container">
            <button [routerLink]="['exit']" (click)="onContact()" class="send-btn" type="submit">Send <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </div>

    </div>

</form>