.form-container {}

textarea {
    resize: none;
    height: 200px;
    border: 1px solid lightblue;
    border-radius: 5px;
    width: 100%;
}

.radio-input {
    display: none;
}

.radio-btn {
    padding: 10px 15px;
    margin: 5px;
    background-color: steelblue;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
}

.radio-btn:hover {
    background-color: lightblue;
    color: #000;
}

.active {
    background-color: lightblue;
    color: #000;
}

.other-btn {}

.radio-container {}

.optional-text {
    color: grey;
    font-size: .8em;
}

.pop-col {
    padding: 6% 0;
}

.pop-container {
    text-align: center;
    border: 1px solid lightblue;
    border-radius: 5px;
    margin: auto;
    width: 90%;
}

.pop-content {
    margin: 0;
    padding: 15px;
}