<div class="footer-container container-fluid">

    <div class="col-xs-6">
        <div>
            <h3>Learning tools</h3>
            <p>Udemy</p>
            <p>Free Code Camp <i class="fa fa-free-code-camp" aria-hidden="true"></i></p>
            <p>MIT OpenCourseWare</p>
        </div>
    </div>

    <div class="col-xs-6">
        <div>
            <h3>Side Projects</h3>
            <p>Yelp Camp</p>
            <p>Octo Foundry</p>
            <p>MTG Builder</p>
        </div>
    </div>

</div>