<div class="footer-container card container-fluid">

    <div class="col-xs-6">
        <div>
            <h3 class="foot-header">Learning tools</h3>
            <ul class="foot-ul">
                <li class="foot-list"><a class="foot-link" [routerLink]="['blog']">My Blog</a></li>
                <li class="foot-list"><a target="_blank" href="https://www.freecodecamp.org/joshmurph316" class="foot-link"><i class="fa fa-free-code-camp" aria-hidden="true"></i>Free Code Camp</a></li>
                <li class="foot-list"><a class="foot-link">MIT OpenCourseWare</a></li>
            </ul>
        </div>
    </div>

    <div class="col-xs-6">
        <div>
            <h3 class="foot-header">Side Projects</h3>
            <ul class="foot-ul">
                <li class="foot-list"><a class="foot-link">Yelp Camp</a></li>
                <li class="foot-list"><a class="foot-link">Octo Foundry</a></li>
                <li class="foot-list"><a class="foot-link">MTG Builder</a></li>
            </ul>
        </div>
    </div>

</div>