.bio-img {
    padding: 25px 10px;
    max-height: 300px;
    margin: auto;
}

.bio-text {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.3em;
    color: #707070;
    padding: 2px 16px;
}

.bio-p {
    list-style-type: none;
}

.stack-m {
    color: #449A35;
}

.stack-e {
    color: #FF9327;
}

.stack-a {
    color: #E62A39;
}

.stack-n {
    color: #99BC56;
}