<div class="card container-fluid">
    <div class="switch-div-left">
        <a class="switch-link" (click)="onBioSwitch()"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></a>
    </div>
    <div *ngIf="about === 'bio'">
        <img class="bio-img img-responsive" src="/images/army-shot.jpg" alt="bio-pic">
        <div class="bio-text">
            <p class="bio-p">Josh Murphy</p>
            <p class="bio-p">
                <span class="stack-m">M</span>
                <span class="stack-e">E</span>
                <span class="stack-a">A</span>
                <span class="stack-n">N</span> Stack Developer</p>
            <p class="bio-p">Age: 25</p>
            <p class="bio-p">New Jersey</p>
        </div>
    </div>
    <div *ngIf="about === 'education'">
        <app-education></app-education>
    </div>
</div>