<div class="main-container container-fluid">
    <p class="front-header">Back end languages I have experience with</p>

    <div class="row">

        <div class="col-xs-12 col-md-4 col-md-offset-1 skill-col">
            <div class="skill-house">
                <div class="skill-container">
                    <p class="text">NodeJS</p>
                </div>
                <div class="sub-skill-container">
                    <p class="sub-skill text">1-yrs exp.</p>
                    <p class="sub-skill text">level: competent</p>
                    <p class="sub-skill text bottom-text">skill</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 col-md-offset-1 skill-col">
            <div class="skill-house">
                <div class="skill-container">
                    <p class="text">Express</p>
                </div>
                <div class="sub-skill-container">
                    <p class="sub-skill text">1-yrs exp.</p>
                    <p class="sub-skill text">level: competent</p>
                    <p class="sub-skill text bottom-text">skill</p>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-xs-12 col-md-4 col-md-offset-1 skill-col">
            <div class="skill-house">
                <div class="skill-container">
                    <p class="text">Mocha</p>
                </div>
                <div class="sub-skill-container">
                    <p class="sub-skill text">1-yrs exp.</p>
                    <p class="sub-skill text">level: competent</p>
                    <p class="sub-skill text bottom-text">skill</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 col-md-offset-1 skill-col">
            <div class="skill-house">
                <div class="skill-container">
                    <p class="text">MongoDB</p>
                </div>
                <div class="sub-skill-container">
                    <p class="sub-skill text">1-yrs exp.</p>
                    <p class="sub-skill text">level: competent</p>
                    <p class="sub-skill text bottom-text">skill</p>
                </div>
            </div>
        </div>

    </div>


    <div class="row">

        <div class="col-xs-12 col-md-4 col-md-offset-1 skill-col">
            <div class="skill-house">
                <div class="skill-container">
                    <p class="text">RESTful API's</p>
                </div>
                <div class="sub-skill-container">
                    <p class="sub-skill text">1-yrs exp.</p>
                    <p class="sub-skill text">level: competent</p>
                    <p class="sub-skill text bottom-text">skill</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 col-md-offset-1 skill-col">
            <div class="skill-house">
                <div class="skill-container">
                    <p class="text">Authentication(JWT)</p>
                </div>
                <div class="sub-skill-container">
                    <p class="sub-skill text">less than 1-yr</p>
                    <p class="sub-skill text">level: basic</p>
                    <p class="sub-skill text bottom-text">skill</p>
                </div>
            </div>
        </div>

    </div>

</div>