.main-container {
    text-align: center;
    color: #b0b0b0;
    font-size: 1.5em;
    font-family: 'Roboto Slab', serif;
    padding: 5% 0;
}

.skill-heading {
    padding: 1% 0 5% 0;
}

.front-header {
    color: #105B63;
    font-size: 1.5em;
    font-family: 'Roboto Slab', serif;
}

.front-subheader {
    font-size: .8em;
}

.info-icon {
    font-size: .5em;
    cursor: pointer;
}

.close-icon {
    cursor: pointer;
}

.bottom-text {
    border-radius: 0 0 10px 10px;
}

.skill-house {
    padding: 0 0 25px 0;
}

.skill-col {
    padding: 0;
}

.text {
    margin: 0;
    padding: 5px 10px;
}

.skill-container {
    background-color: #105B63;
    color: #FFFAD5;
    border-radius: 10px 10px 0 0;
    padding: 8px 10px;
    margin: auto;
    cursor: pointer;
    transition: all 0.3s;
}

.skill-container:hover {
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 1);
}

.sub-skill {
    margin: auto;
    border: .5px solid lightgrey;
    border-top: none;
    background-color: #FFFAD5;
    color: #105B63;
}

.skill-footer {
    font-size: .8em;
}

.fa-exclamation-triangle {
    color: goldenrod;
    font-size: .7em;
}