html,
body {
    background-color: #e6e6e6;
}

.card {
    margin: 10px 5px 0 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    background-color: #fff;
    padding: 25px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(100, 0, 0, 0.4);
}

.switch-div-right {
    text-align: right;
}

.switch-div-left {
    text-align: left;
}

.switch-link {
    cursor: pointer;
    padding: 5px;
    color: #105B63;
    font-size: 1.2em;
}

.switch-link:hover {
    text-decoration: none;
}