<div class="row">

    <h4>Learning Progress <i class="fa fa-info-circle" aria-hidden="true"></i></h4>
    <div class="col-md-4">
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Front End</h4>
                <p class="list-group-item-text">HTML5</p>
                <p class="list-group-item-text">CSS3</p>
                <p class="list-group-item-text">JavaScript</p>
                <p class="list-group-item-text">Angular</p>
            </a>
        </div>
    </div>

    <div class="col-md-8">
        <div class="progress-container">
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: 55%">
                    <span class="sr-only">55% Complete (success)</span>
                </div>
                <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width: 15%">
                    <span class="sr-only">15% Complete (warning)</span>
                </div>
                <div class="progress-bar progress-bar-danger" style="width: 10%">
                    <span class="sr-only">10% Complete (danger)</span>
                </div>
            </div>
        </div>
    </div>

</div>
<!--###################### ROW 2 #############################-->
<div class="row">

    <div class="col-md-4">
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Back End</h4>
                <p class="list-group-item-text">Node.js</p>
                <p class="list-group-item-text">MongoDB</p>
                <p class="list-group-item-text">Express</p>
                <p class="list-group-item-text">Apache</p>
            </a>
        </div>
    </div>

    <div class="col-md-8">
        <div class="progress-container">
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: 30%">
                    <span class="sr-only">30% Complete (success)</span>
                </div>
                <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width: 15%">
                    <span class="sr-only">15% Complete (warning)</span>
                </div>
                <div class="progress-bar progress-bar-danger" style="width: 5%">
                    <span class="sr-only">5% Complete (danger)</span>
                </div>
            </div>
        </div>
    </div>

</div>
<!--###################### ROW 3 #############################-->
<div class="row">

    <div class="col-md-4">
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">DevOps</h4>
                <p class="list-group-item-text">Docker</p>
                <p class="list-group-item-text">Amazon Web Service</p>
                <p class="list-group-item-text">Kubernetes</p>
                <p class="list-group-item-text">Travis</p>
            </a>
        </div>
    </div>

    <div class="col-md-8">
        <div class="progress-container">
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: 5%">
                    <span class="sr-only">5% Complete (success)</span>
                </div>
                <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width: 10%">
                    <span class="sr-only">10% Complete (warning)</span>
                </div>
                <div class="progress-bar progress-bar-danger" style="width: 20%">
                    <span class="sr-only">20% Complete (danger)</span>
                </div>
            </div>
        </div>
    </div>

</div>