<div class="col-md-12">
    <div class="row">
        <app-landing></app-landing>
    </div>
</div>

<div class="col-md-3">
    <div class="row">
        <app-bio></app-bio>
    </div>
    <div class="row">
        <app-availability></app-availability>
    </div>
    <div class="row">
        <app-intrests></app-intrests>
    </div>
    <div class="row">
        <app-side-project></app-side-project>
    </div>
</div>

<div class="col-md-9">
    <div class="row">
        <app-work-history></app-work-history>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <app-skills></app-skills>
    </div>
</div>