<div class="main-container container-fluid">
    <p class="front-header">DevOps tools I have experience with</p>

    <div class="row">

        <div class="col-xs-12 col-md-4 col-md-offset-1 skill-col">
            <div class="skill-house">
                <div class="skill-container">
                    <p class="text">AWS</p>
                </div>
                <div class="sub-skill-container">
                    <p class="sub-skill text">1-yrs exp.</p>
                    <p class="sub-skill text">level: proficient</p>
                    <p class="sub-skill text bottom-text">skill</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 col-md-offset-1 skill-col">
            <div class="skill-house">
                <div class="skill-container">
                    <p class="text">Git/GitHub</p>
                </div>
                <div class="sub-skill-container">
                    <p class="sub-skill text">1-yrs exp.</p>
                    <p class="sub-skill text">level: proficient</p>
                    <p class="sub-skill text bottom-text">skill</p>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-xs-12 col-md-4 col-md-offset-1 skill-col">
            <div class="skill-house">
                <div class="skill-container">
                    <p class="text">Heroku</p>
                </div>
                <div class="sub-skill-container">
                    <p class="sub-skill text">1-yrs exp.</p>
                    <p class="sub-skill text">level: proficient</p>
                    <p class="sub-skill text bottom-text">skill</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 col-md-offset-1 skill-col">
            <div class="skill-house">
                <div class="skill-container">
                    <p class="text">Docker</p>
                </div>
                <div class="sub-skill-container">
                    <p class="sub-skill text">less than 1-yr</p>
                    <p class="sub-skill text">level: basic</p>
                    <p class="sub-skill text bottom-text">skill</p>
                </div>
            </div>
        </div>

    </div>


    <div class="row">

        <div class="col-xs-12 col-md-4 col-md-offset-1 skill-col">
            <div class="skill-house">
                <div class="skill-container">
                    <p class="text">Kubernetes</p>
                </div>
                <div class="sub-skill-container">
                    <p class="sub-skill text">less than 1-yr</p>
                    <p class="sub-skill text">level: basic</p>
                    <p class="sub-skill text bottom-text">skill</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 col-md-offset-1 skill-col">
            <div class="skill-house">
                <div class="skill-container">
                    <p class="text">Travis CI</p>
                </div>
                <div class="sub-skill-container">
                    <p class="sub-skill text">less than 1-yr</p>
                    <p class="sub-skill text">level: basic</p>
                    <p class="sub-skill text bottom-text">skill</p>
                </div>
            </div>
        </div>

    </div>

</div>