<p class="edu-header">Education</p>
<p class="edu-subheader">Field of Study: Comp Sci</p>

<p class="edu-content">MIT (Open Courseware)
    <span class="info-btn fa-stack" popoverTitle="MIT (OCW)" popover="MIT offers free online courses" [popoverCloseOnClickOutside]="true" [popoverDismissTimeout]="5000">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-info fa-stack-1x"></i>
    </span>
</p>
<p class="edu-content">Army (AIT)
    <span class="info-btn fa-stack" popoverTitle="Army (AIT)" popover="'Advanced individual training' is specialized training, takes place after completing 'Basic Training'" [popoverCloseOnClickOutside]="true" [popoverDismissTimeout]="5000">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-info fa-stack-1x"></i>
    </span>
</p>
<p class="edu-content">Brookdale Community College</p>
<p class="edu-content"><i class="fa fa-free-code-camp" aria-hidden="true"></i>Free Code Camp</p>