<div class="card">
    <div class="switch-div">
        <a class="switch-link" (click)="onWorkSwitch()"><i class="fa fa-arrows-v" aria-hidden="true"></i></a>
    </div>
    <div *ngIf="history === 'projects'">

        <h2>Recent Web Projects</h2>
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <h3>Ethel's Faces</h3>
                <p>Professional face painting business appliaction</p>
                <a href="#">Visit Site</a>
                <h3>Build</h3>
                <h4>Front End:</h4>
                <p>HTML5, CSS3, JavaScript</p>
                <p>Bootstrap</p>
                <h4>Back End:</h4>
                <p>Node.js, Express, MongoDB</p>
            </div>
            <div class="col-xs-4 hidden-sm hidden-xs">
                <div class="img-container">
                    <a href="#">
                        <img class="img-responsive thumbnail web-img" src="/images/Ethels-site.JPG" alt="site-img">
                    </a>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <h3>Paige Lorraine Artistry</h3>
                <p>Makeup artist portfolio</p>
                <a href="#">Vist Site</a>
                <h3>Build</h3>
                <h4>Front End:</h4>
                <p>Angular4</p>
                <p>HTML5, CSS3, JavaScript</p>
                <p>Bootstrap</p>
                <h4>Back End:</h4>
                <p>Node.js, Express, MongoDB</p>
            </div>
            <div class="col-xs-4 hidden-sm hidden-xs">
                <div class="img-container">
                    <a href="#">
                        <img class="img-responsive thumbnail web-img" src="/images/Paige-site.JPG" alt="site-img">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="history === 'work'">
        <app-past-job></app-past-job>
    </div>

</div>