<div class="row">

    <div class="col-xs-12 col-md-7">
        <p class="text-header">Recent Web Projects</p>
        <p class="text-subheader">Ethel's Faces</p>
        <p class="text-content">Face painting business site</p>
        <a class="text-content" target="_blank" href="http://www.ethelsfaces.com">Visit Site</a>
        <p class="text-subheader">Front End Build:</p>
        <p class="text-content">-HTML5</p>
        <p class="text-content">-CSS3</p>
        <p class="text-content">-JavaScript</p>
        <p class="text-content">-Bootstrap</p>
        <p class="text-subheader">Back End Build:</p>
        <p class="text-content">-Node.js</p>
        <p class="text-content">-MongoDB</p>
        <p class="text-content">-Express</p>
    </div>
    <div class="col-md-5 hidden-sm hidden-xs">
        <div class="img-container">
            <a target="_blank" href="http://www.ethelsfaces.com">
                <img class="img-responsive thumbnail web-img" src="/images/Ethels-site.JPG" alt="site-img">
            </a>
        </div>
    </div>
</div>
<hr class="center-hr">
<div class="row">

    <div class="col-xs-12 col-md-7">
        <p class="text-subheader">Paige Lorraine Artistry</p>
        <p class="text-content">Makeup artist portfolio</p>
        <a class="text-content" target="_blank" href="https://paige-portfolio.herokuapp.com/">Vist Site</a>
        <p class="text-subheader">Front End Build:</p>
        <p class="text-content">-Angular4</p>
        <p class="text-content">-HTML5</p>
        <p class="text-content">-CSS3</p>
        <p class="text-content">-JavaScript</p>
        <p class="text-content">-Bootstrap</p>
        <p class="text-subheader">Back End Build:</p>
        <p class="text-content">-Node.js</p>
        <p class="text-content">-Express</p>
        <p class="text-content">-MongoDB</p>
    </div>
    <div class="col-md-5 hidden-sm hidden-xs">
        <div class="img-container">
            <a target="_blank" href="https://paige-portfolio.herokuapp.com/">
                <img class="img-responsive thumbnail web-img" src="/images/Paige-site.JPG" alt="site-img">
            </a>
        </div>
    </div>

</div>