.job-row {
    padding: 1%;
}

.job-title {
    color: #105B63;
}

.img-container {
    padding-top: 65%;
}

.web-img {
    border: 1px solid #9f9f9f;
}

.text-header {
    font-family: 'Titillium Web', sans-serif;
    color: #105B63;
    font-size: 2.8em;
    padding-bottom: 5px;
}

.text-subheader {
    color: #7F6927;
    font-size: 1.7em;
    font-family: 'Roboto Slab', serif;
    padding-top: 20px;
}

.text-content {
    padding-left: 15px;
    color: #707070;
    font-size: 1.2em;
    font-family: 'Roboto Slab', serif;
}

.text-content:hover {
    text-decoration: none;
}

.center-hr {
    height: 1px;
    background-color: #105B63;
    width: 75%;
}