<div class="card container-fluid">

    <h3 class="skills-header">Web Development Skills</h3>

    <ul class="nav nav-tabs">
        <li class="tab-list" [ngClass]="{active: currentView === 'front-end'}"><a class="tab-link" (click)="onFrontClick()">Front End</a></li>
        <li class="tab-list" [ngClass]="{active: currentView === 'back-end'}"><a class="tab-link" (click)="onBackClick()">Back End</a></li>
        <li class="tab-list" [ngClass]="{active: currentView === 'dev-ops'}"><a class="tab-link" (click)="onDevClick()">Dev Ops</a></li>
        <li class="tab-list" [ngClass]="{active: currentView === 'progress'}"><a class="tab-link" (click)="onProgressClick()">Progress</a></li>
    </ul>
    <div>
        <app-front-end *ngIf="currentView === 'front-end'"></app-front-end>
        <app-back-end *ngIf="currentView === 'back-end'"></app-back-end>
        <app-dev-ops *ngIf="currentView === 'dev-ops'"></app-dev-ops>
        <app-progression *ngIf="currentView === 'progress'"></app-progression>
    </div>

</div>