<div class="main-container container-fluid">
    <p class="front-header">Front end languages I have experience with</p>

    <div class="row">

        <div class="col-xs-12 col-md-4 col-md-offset-1 skill-col">
            <div class="skill-house">
                <div class="skill-container">
                    <p class="text">HTML5</p>
                </div>
                <div class="sub-skill-container">
                    <p class="sub-skill text">3-yrs exp.</p>
                    <p class="sub-skill text">level: proficient</p>
                    <p class="sub-skill text bottom-text">skill</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 col-md-offset-1 skill-col">
            <div class="skill-house">
                <div class="skill-container">
                    <p class="text">Angular</p>
                </div>
                <div class="sub-skill-container">
                    <p class="sub-skill text">1-yrs exp.</p>
                    <p class="sub-skill text">level: competent</p>
                    <p class="sub-skill text bottom-text">skill</p>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-xs-12 col-md-4 col-md-offset-1 skill-col">
            <div class="skill-house">
                <div class="skill-container">
                    <p class="text">CSS3</p>
                </div>
                <div class="sub-skill-container">
                    <p class="sub-skill text">3-yrs exp.</p>
                    <p class="sub-skill text">level: proficient</p>
                    <p class="sub-skill text bottom-text">skill</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 col-md-offset-1 skill-col">
            <div class="skill-house">
                <div class="skill-container">
                    <p class="text">Bootstrap</p>
                </div>
                <div class="sub-skill-container">
                    <p class="sub-skill text">1-yrs exp.</p>
                    <p class="sub-skill text">level: competent</p>
                    <p class="sub-skill text bottom-text">skill</p>
                </div>
            </div>
        </div>

    </div>


    <div class="row">

        <div class="col-xs-12 col-md-4 col-md-offset-1 skill-col">
            <div class="skill-house">
                <div class="skill-container">
                    <p class="text">Vue.js</p>
                </div>
                <div class="sub-skill-container">
                    <p class="sub-skill text">less than 1-yr</p>
                    <p class="sub-skill text">level: basic</p>
                    <p class="sub-skill text bottom-text">skill</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 col-md-offset-1 skill-col">
            <div class="skill-house">
                <div class="skill-container">
                    <p class="text">React</p>
                </div>
                <div class="sub-skill-container">
                    <p class="sub-skill text">less than 1-yr</p>
                    <p class="sub-skill text">level: basic</p>
                    <p class="sub-skill text bottom-text">skill</p>
                </div>
            </div>
        </div>

    </div>

</div>