.card {
    text-align: right;
}

.landing-text {
    padding: 5px 0;
    color: grey;
}

.landing-header {}

.subheader {}

.fa-stack {
    font-size: .5em;
}

.stack-m {
    color: #449A35;
    font-size: 1.3em;
}

.stack-e {
    color: #FF9327;
    font-size: 1.3em;
}

.stack-a {
    color: #E62A39;
    font-size: 1.3em;
}

.stack-n {
    color: #99BC56;
    font-size: 1.3em;
}

.btn-hire {
    padding: 10px 20px;
    background-color: #a6a6a6;
    color: lavender;
    font-size: 1.4em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn-hire:hover {
    text-decoration: none;
    color: #161616;
}