<div class="row job-row">

    <div class="col-xs-12 col-md-8">
        <p class="text-header">Recent Employment</p>
        <p class="text-subheader">United States Army</p>
        <p class="text-content"><span class="job-title">Job Title:</span> Combat Engineer</p>
        <p class="text-subheader">Required technical skills</p>
        <p class="text-content">-Constructing and deploying explosives</p>
        <p class="text-content">-Bridge construction and demolition</p>
        <p class="text-content">-Attention to detail</p>
        <p class="text-subheader">Other skills required</p>
        <p class="text-content">-Mental/physical disipline</p>
        <p class="text-content">-Teamwork</p>
        <p class="text-content">-Secret security clearence</p>
    </div>
    <div class="col-xs-4 hidden-sm hidden-xs">
        <div class="img-container">
            <a href="#">
                <img class="img-responsive thumbnail web-img" src="https://www.army.mil/e2/c/images/2017/02/16/466443/size0.jpg" alt="site-img">
            </a>
        </div>
    </div>

</div>
<hr class="center-hr">
<div class="row job-row">

    <div class="col-xs-12 col-md-8">
        <p class="text-subheader">National Field Network</p>
        <p class="text-content"><span class="job-title">Job Title:</span> Client Reporting Analyst</p>
        <p class="text-subheader">Required technical skills</p>
        <p class="text-content">-MS Excel (Master)</p>
        <p class="text-content">-MS Access</p>
        <p class="text-content">-MS Outlook</p>
        <p class="text-subheader">Other skills required</p>
        <p class="text-content">-Managing deadlines</p>
        <p class="text-content">-Teamwork</p>
        <p class="text-content">-Handling sensitive information</p>
    </div>
    <div class="col-xs-4 hidden-sm hidden-xs">
        <div class="img-container">
            <a href="#">
                <img class="img-responsive thumbnail web-img" src="http://independentpreservation.com/images/screens/19.jpg" alt="site-img">
            </a>
        </div>
    </div>

</div>