<div class="row">

    <div class="col-xs-12 col-md-8">
        <h2>Recent Employment</h2>
        <h3>United States Army</h3>
        <p>Combat Engineer</p>
        <h4>Required technical skills</h4>
        <p>Handling/deploying explosives, Bridge building, Attention to detail</p>
        <h4>Other skills required</h4>
        <p>Teamwork, Mental/physical disipline, Secret clearence</p>
    </div>
    <div class="col-xs-4 hidden-sm hidden-xs">
        <div class="img-container">
            <a href="#">
                <img class="img-responsive thumbnail web-img" src="https://www.army.mil/e2/c/images/2017/02/16/466443/size0.jpg" alt="site-img">
            </a>
        </div>
    </div>

</div>
<hr>
<div class="row">

    <div class="col-xs-12 col-md-8">
        <h3>National Field Network</h3>
        <p>Client Reporting Analyst</p>
        <h4>Required technical skills</h4>
        <p>Excel, Access, Outlook</p>
        <h4>Other skills required</h4>
        <p>Teamwork, Managing deadlines, Handling sensitive information</p>
    </div>
    <div class="col-xs-4 hidden-sm hidden-xs">
        <div class="img-container">
            <a href="#">
                <img class="img-responsive thumbnail web-img" src="http://independentpreservation.com/images/screens/19.jpg" alt="site-img">
            </a>
        </div>
    </div>

</div>