<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" [routerLink]="['home']">WebDevJosh</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a class="nav-link" target="_blank" href="https://github.com/JoshMurph316"><i class="fa fa-github" aria-hidden="true"></i>GitHub</a></li>
                <li><a class="nav-link" target="_blank" href="https://www.facebook.com/profile.php?id=100016344935993"><i class="fa fa-facebook-square" aria-hidden="true"></i>Facebook</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="nav-link" href="#">Vist Blog</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>