.side-header {
    font-size: 1.5em;
    font-family: 'Arvo', serif;
    color: #105B63;
    padding-bottom: 15px;
}

.side-link {
    color: #7F6927;
    font-family: 'Roboto Slab', serif;
}

.side-link:hover {
    color: #105B63;
    text-decoration: none;
}