<div class="container exit-container">
    <h2>Thank You!</h2>
    <p>Might as well check these out too</p>

    <ul class="exit-list">
        <li class="exit-list-item"><a class="exit-link" target="_blank" href="https://www.facebook.com/profile.php?id=100016344935993"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
        <li class="exit-list-item"><a class="exit-link" target="_blank" href="https://www.instagram.com/joshmurph316"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li class="exit-list-item"><a class="exit-link" target="_blank" href="https://www.linkedin.com/in/joshua-murphy-9887b6131/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
        <li class="exit-list-item"><a class="exit-link" target="_blank" href="https://www.youtube.com/channel/UCRqMcUhq89osZMAdGcSYMCA"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
        <li class="exit-list-item"><a class="exit-link" target="_blank" href="https://plus.google.com/100625316009569289729"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
        <li class="exit-list-item"><a class="exit-link" target="_blank" href="https://github.com/JoshMurph316"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
        <li class="exit-list-item"><a class="exit-link" target="_blank" href="https://stackoverflow.com/users/7965964/web-dev-josh"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a></li>
    </ul>
</div>